*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Lato regular', sans-serif;
    background-color: #fefefe;
    max-width: 1020px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
li {
    list-style: none;
}
.header{
    display: flex;
    height: 95px;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;   
    border-bottom: solid 6px #323746;
}
.header-logo{
    width: 19.6%;
}
.logo {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase; 
    padding: 0 0 0.6% 40px;
    letter-spacing :0.1px;
    cursor: pointer;
}
.logo span{
    color: #f06c64;
}
.header-menu{
    width: 45%;
}
.header-menu ul{
    display: flex;
    justify-content: space-around;
    padding: 8px 25px 0 33px;
}
.header-menu ul li{    
    font-size: 12px;
}
.menu-link{
    position: relative;
}
.menu-link a{
    cursor: pointer;    
    transition: color .2s linear, background-color .2s linear;
}
.menu-link a:hover{
    color: #f06c64;
}
:not(:last-child)::before {
    content: '';
    background-color:#434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
}
.slider{
    height: 600px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;    
}
.slider-container{
    display: flex;
    height: 594px;
    justify-content: space-around;
    max-width: 1020px;
    align-items: center;
    padding: 0px 12px 2px 14px
}
.phone-ver{
    padding: 0 19px 0 0;
}
.phone-hor{
    padding: 0 1px 1px 0
}
.slider-prew, .slider-next {
    cursor: pointer;

}

.services{
    display: flex;
    justify-content: center;
    font-family: 'Lato Light';
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    height: 500px;
    
}
.services-title{
    font-family: 'Lato Black';
}
.services-container{
    display: flex;
    width: 960px;
    flex-direction: column;
    font-size: 20px;
    color: #666d89;
}
.services-container p {
    font-size: 1.1rem;
    padding-top: 19px;
    line-height: 1.9pc;
    word-spacing: -0.5px;
    letter-spacing: 0.2px;
}
.services-our{
    height: 216px;
    padding: 59px 0 0 1%;
}
.services-info{
    display: flex; 
    flex-flow: column wrap;
    width: 959px;
    height: 245px;   
    color: #666d89;
}
.services-blocks{
    display: flex;
    width: 33%;    
    height: 50%;    
    padding-left: 1%;
}
.services-logo{
    display: flex;
    align-items: baseline;
    padding-top: 3px;
}
.services-item{
    padding-left: 6%;
    width: 238px;
}
.services-item h3{
    font-family: 'Lato Black', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666d89;
}
.services-item p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-top: 8px;
    text-align: justify;
}
.portfolio{
    width: 1020px;
    min-height: 869px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio-wrapper{
    width: 940px;
    padding-top: 59px;
}
.portfolio-title {    
    font-family: "Lato Black", sans-serif;
    font-size: 30px;
    color: #666d89;
    letter-spacing: 0.2px;
}
.portfolio-description{
    font-size: 18px;
    margin-top: 22px;
    word-spacing: -2px;
    letter-spacing: -0.02px;
    color: #767e9e;
}
.portfolio-container{
    display: flex;
    justify-content:center ;
}
.portfolio-image-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 640px;
    padding: 19px 0 0;
}
.portfolio-grid{
    cursor: pointer;
}
.portfolio-grid:hover{
    -webkit-transform: scale(1.07);
}
.portfolio-grid:nth-child(n + 13){
    display: none;
}
.portfolio-buttons-list{
    display: flex;
    justify-content: space-between;
    width: 288px;
    padding: 15px 0 0 1px;
}
.portfolio-button {
    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #666d89;
    border-radius: 5px;
    color: #767e9e;
    padding: 0 6px;
    cursor: pointer;
}
.portfolio-button:hover{
    border-color: #c5c5c5;
    color: #c5c5c5;
}
.about_us{
    width: 1020px;
    height: 734px;
    background-color: #f2f2f2;    
    border-bottom: solid 6px #fefefe;
}
.about_us-container{   
    display: flex;     
    justify-content: center;
}
.about_us-wrapper{
    width: 940px;
    padding-top: 59px;
}
.about_us-title{
    font-family: "Lato Black", sans-serif;
    font-size: 30px;
    color: #767e9e;
    word-spacing: -1px;    
}
.about_us-description{
    margin-top: 18px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    word-spacing: -2.25px;
    color: #767e9e;
}
.about_us-main-block{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;    
}
.about_us-item{
    max-width: 300px;
}
.about_us-item-photo{
    max-height: 300px;
    overflow: hidden;
}
.about_us-item:last-child {
    margin-left: 2px;
}
.about_us-item:last-child .about_us-item-name{
    word-spacing: 4px;
}
.about_us-item-name{
    font-size: 18px;
    color: #666d89;
    padding-top: 15px;
    max-height: 40px;
    overflow: hidden;
}
.about_us-item-description{
    color: #767e9e;
    text-align: justify;
}
.about_us-item-description p{
    font-size: 12px;
    padding-top: 8px;
    line-height: 21px;
    text-align: justify;
}
.about_us-item-contact-social{
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;   
    border-radius: 50%;
    margin-right: 8px;
}
.about_us-item-contact-social:hover{ 
    -webkit-transform: scale(1.2);
    opacity: 0.6;
}
.about_us-item-contacts{
    display: flex;
    height: 80px;
    align-items: center;
    padding-left: 1px;
}
.quote {
    height: 654px;
    padding: 59px 42px 0 40px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}
.qoute-title {
    font-family: "Lato Black", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #f0d8d9;
    letter-spacing: -0.25px;
}
.quote-description {
    font-family: 'Lato Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #f0d8d9;   
    letter-spacing: -0.34px;
    text-align: justify;
    padding-top: 18px;
}
.quote-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}


.form {
    width: 66.66%;
    padding: 2px 6px 0 0;
}
.input {
    display: block;
    padding: 4px 15px 11px 15px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    font-family: 'Lato Regular', sans-serif;
    font-size: 19px;
    font-weight: 400;
    outline: none;
}
.input::placeholder {
    color: #f48c8f;
    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
}
.input-block {
    resize: none;
    height: 202px;
    padding: 10px 0 0 14px;
}
.submit {
    justify-self: end ;
    display: block;
    width:20%;
    height: 10%;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Lato Regular', sans-serif;
    border: solid 1px #d6564f;
    background-color: #d6564f;
    color: #f48c8f;
    cursor: pointer;
    transition: color .2s linear, background-color .2s linear;
}
.submit:hover{
    color: #d6564f;
    background-color: #f0d8d9;
    opacity: 0.6; 
}


.quote-contact-info {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding-left: 14px;
}
.quote-contact-title {
    height: 30px;
    font-family: "Lato Black", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #f0d8d9;    
    letter-spacing: 0.1px;
}
.quote-contact-description {
    height: 85px;
    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    letter-spacing: -0.1px;
    text-align: justify;
}
.quote-contact-list{
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 0;
}
.quote-contact-item{
    height: 20px;
    display: flex;    
}
.quote-contact-item a{
    align-items: center;
    padding-left: 9px;
}
.quote-contact-item:first-child a{
    padding-top:1px
}
.quote-contact-item:last-child{
    padding-top: 1px;
}
.quote-contact-item:last-child a{
    padding-bottom: 1px;
    padding-left: 5px;
    letter-spacing: 0.01px;
}
.quote-contact-link {
    text-decoration: none;
    font-family: 'Lato regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #f0d8d9;
    letter-spacing: -0.2px;
}
.quote-contact-link:hover {
    text-decoration: underline;
}


.footer {
    padding: 22px;
    background-color: #2d303a;
}
.footer-wrapper {    
    display: flex;
    justify-content: space-between;
    width: 966px;
}
.footer-copyright{
    padding:6px 0 0 20px;
    width: 10%;
}
.footer-item-contacts{
    display: flex;
    justify-content: space-between;
    width: 160px;
}
.footer-item-contact-social{
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;   
    border-radius: 50%;
    margin-right: 8px;
    transition: color .2s linear, background-color .2s linear;
}
.footer-item-contact-social:hover{   
    opacity: 0.6;    
    background-color: #f0d8d9;
}